@{
    ViewData["Title"] = "Add Product Page";
}

@model ProductViewModel
<div class="container mt-3">
    <h2>Create New Product</h2>
    <form asp-area="Admin" asp-action="Create" asp-controller="Product"  method="post">
        <div class="mb-3">
            <label asp-for="Product.Title" class="form-label"></label>
            <input type="text" asp-for="Product.Title" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.ISBN" class="form-label"></label>
            <input type="text" asp-for="Product.ISBN" class="form-control" />
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Author" class="form-label"></label>
            <input type="text" asp-for="Product.Author" class="form-control" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>          
        <div class="mb-3">
            <label asp-for="Product.ListPrice" class="form-label"></label>
            <input type="number" asp-for="Product.ListPrice" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Price50" class="form-label"></label>
            <input type="number" asp-for="Product.Price50" class="form-control" />
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Price100" class="form-label"></label>
            <input type="number" asp-for="Product.Price100" class="form-control" />
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Description" class="form-label"></label>
            <textarea asp-for="Product.Description" class="form-control"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>