@{
    ViewData["Title"] = "Edit Product Page";
}
@model Product
<div class="container mt-3">
    <h2>Edit Product</h2>
    <form id="editForm" asp-area="Admin" asp-action="Edit" asp-controller="Product" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input type="text" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ISBN" class="form-label"></label>
            <input type="text" asp-for="ISBN" class="form-control" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Author" class="form-label"></label>
            <input type="text" asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ListPrice" class="form-label"></label>
            <input type="number" asp-for="ListPrice" class="form-control" />
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price50" class="form-label"></label>
            <input type="number" asp-for="Price50" class="form-control" />
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price100" class="form-label"></label>
            <input type="number" asp-for="Price100" class="form-control" />
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
         <button type="button"
                class="btn btn-primary update-btn"
                data-name="@Model.Title"
                data-bs-toggle="modal"
                data-bs-target="#updateModal">
            Update Product
        </button>
    </form> 
</div>

<div class="modal fade" id="updateModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Confirm Update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        Are you sure you want to update
        <strong id="productName"></strong>?
      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">
          Cancel
        </button>

        <button type="button"
                class="btn btn-success"
                id="confirmUpdate">
          Yes, Update
        </button>
      </div>

    </div>
  </div>
</div>

@section Scripts{
    <partial name ="_ValidationScriptsPartial"/>

    <script>
        $(document).ready(function () {
            console.log("Edit Product Page Loaded");

            $('.update-btn').click(function () {
                var productName = $(this).data('name');
                $('#productName').text(productName);
            });

            $('#confirmUpdate').click(function () {
                $('#editForm').submit();
            });

        });
    </script>
}
